---
import Countdown from '../../components/Countdown.astro'
import Page from '../../components/Page.astro';
const lang = Astro.request.headers.get('accept-language')

---

<Page title="Hello world, again!">
	<span slot="h1">about <Countdown />kilometers remaining</span>
</Page>

