---
import Layout from '../components/Layout.astro';
import Countdown from '../components/Countdown.astro';
---

<Layout title="Hello world, again!">
	<main>
		<h1>mancano <Countdown />km circa</h1>
	</main>
</Layout>

