---
import Countdown from '../../components/Countdown.astro'
import Page from '../../components/Page.astro';
import OneSignal from '../../components/OneSignal.astro';
---

<Page title="Hello world, again!">
	<span slot="h1">mancano <Countdown />kilometri circa</span>
	<OneSignal />
</Page>

