---
import Countdown from '../../components/Countdown.astro'
import Page from '../../components/Page.astro';
import OneSignal from '../../components/OneSignal.astro';
---

<Page title="Ciao Mondo, di nuovo!" content="I miei genitori hanno messo su 'sta roba. Dategli un occhio, fateli felici">
	<span slot="h1" id="missing">mancano <Countdown />kilometri circa</span>
	<span slot="h1" id="delivering" style="display: none">In consegna!</span>
	<span slot="born">Consegnat*!</span>
	<OneSignal />
</Page>

<script>
	import { countdown } from "../../utils/countdown";
	const missing = window.document.getElementById("missing");
	const delivering = window.document.getElementById("delivering");
	const deliveryyyyy = (kms: number) => {
		if(kms <= 0) {
			missing.style.display = "none";
			delivering.style.display = "block";
		}
	}
	countdown.onChange(deliveryyyyy)
</script>

