---
import OneSignal from './OneSignal.astro'
import { born } from '../constants'
import { render } from 'mustache'
import { getLangFromUrl } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url);
const {delivered, delivering, registry, website } = Astro.props
const withDates = render(delivered, {...born, day: born.day.toLocaleDateString(lang)})
---
  {!born.height ? 
    <h1>
      <span slot="h1" id="missing"><slot /></span>
      <span slot="h1" id="delivering" style="display: none">{delivering}</span>
    </h1> 
    : 
    <h1>
      <span slot="born" set:html="withDates" />
    </h1>
  }
	<div class="buttons">
		<OneSignal />
		<a 
			class="button" 
			href="https://www.amazon.it/baby-reg/davide-dipumpo-giugno-2024-milano/1SYN7DGSB0SVY?ref_=cm_sw_r_apann_dp_0EQ6RYP3GCAR1B2BD8EW&language=en_US" target="_blank" rel="noref nofollow"
		>
			{registry}
		</a>
	</div>
	<a 
		href="https://piccologuaioaportaromana.com" target="_blank" rel="noref nofollow"
	>
		{website}
	</a>

<style>
	@keyframes header {
		from {
			opacity: 0;
			transform: translateY(1rem);
		}
		to {
			opacity: 1;
			transform: translate(0);
		}
	}
	h1 {
		animation: header 1s 1 ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: 1.25s;
		opacity: 0;
		font-family: "Twinkle Star", cursive;
		color: var(--secondary);
		text-align: center;
		padding: 0.5em;
		text-wrap: balance;
		font-size: 1.8rem;
		max-width: 52rem;
		text-shadow: 1px 1px 5px rgba(255,255,255,0.2),
			-1px 1px 5px rgba(255,255,255,0.2),
			-1px -1px 5px rgba(255,255,255,0.2),
			1px -1px 5px rgba(255,255,255,0.2)
		;
		em {
			font-style: normal;
			display: inline-block;
			text-shadow: none;
			font-family: monospace;
			font-weight: 200;
			font-size: 0.8em;
			background-color: var(--accent);
			font-variant: small-caps;
			color: black;
			margin-bottom: 0.1em;
			border: 1px dashed rgba(0,0,0,0.2);
			border-width: 1px 0px;
			box-shadow: 0px 0px 0px 0.1em var(--accent);
		}

		em:nth-child(1) {
			transform: rotate(-2deg);
		}
		em:nth-child(2) {
			transform: rotate(-3deg);
		}
		em:nth-child(3) {
			transform: rotate(-1deg);
			font-size: 1em;
		}
		em:nth-child(4) {
			transform: rotate(3deg);
		}
	}
	a {
		padding-bottom: 1em;
	}

	.buttons, a {
		opacity: 0;
		animation: header 1s 1 ease-in-out;
		animation-fill-mode: forwards;
		animation-delay: 2.5s;
	}
</style>

<script>
	import { countdown } from '../utils/countdown'
  const missing = window.document.getElementById("missing");
	const delivering = window.document.getElementById("delivering");
	const deliveryyyyy = (kms: number) => {
		if(kms <= 0) {
			missing.style.display = "none";
			delivering.style.display = "block";
		}
	}
	countdown.onChange(deliveryyyyy)
</script>


