---
import OneSignal from './OneSignal.astro'
import { born } from '../constants'
const {delivered, delivering, registry, website } = Astro.props
---

  {!born.day ? 
    <h1>
      <span slot="h1" id="missing"><slot /></span>
      <span slot="h1" id="delivering" style="display: none">{delivering}</span>
    </h1> 
    : 
    <h1>
      <span slot="born">{delivered}</span>
    </h1>
  }
	<div class="buttons">
		<OneSignal />
		<a 
			class="button" 
			href="https://www.amazon.it/baby-reg/davide-dipumpo-giugno-2024-milano/1SYN7DGSB0SVY?ref_=cm_sw_r_apann_dp_0EQ6RYP3GCAR1B2BD8EW&language=en_US" target="_blank" rel="noref nofollow"
		>
			{registry}
		</a>
	</div>
	<a 
		href="https://piccologuaioaportaromana.com" target="_blank" rel="noref nofollow"
	>
		{website}
	</a>

<style>
	h1 {
		font-family: "Twinkle Star", cursive;
		color: var(--secondary);
		text-align: center;
		padding: 0.5em;
		text-wrap: balance;
		font-size: 2.4rem;
	}
</style>

<script>
	import { countdown } from '../utils/countdown'
  const missing = window.document.getElementById("missing");
	const delivering = window.document.getElementById("delivering");
	const deliveryyyyy = (kms: number) => {
		if(kms <= 0) {
			missing.style.display = "none";
			delivering.style.display = "block";
		}
	}
	countdown.onChange(deliveryyyyy)
</script>


