<div>
<section>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Livello_1" x="0" y="0" viewBox="0 0 580.28 452.89" xml:space="preserve">
  <style>
    .st0{fill:#fff}.st1{fill:#e7aab9}.st6{fill:#f6f09e}.st7{fill:#173A39}
  </style>
  <g class="st7 wings6">
    <path d="M204.12 247.41s-14.6 6.42-21.73-1.52c0 0-3.33-3.73 2.32-3 0 0-16.26-11.63-3.1-9.08 2.03-1.72-11.57-7.05-10.64-13.06 1.42-1.69 5.22-.61 5.22-.61s-19.5-14.66-4.28-16.12c0 0-16.55-11.81-1.87-10.84 0 0-14.58-18.2-2.66-11.84 0 0-12.49-16.2 1.5-8.32 0 0-17.16-21.75-.39-11.58 0 0-19.11-28.36-3.26-19.75l-8.91-14.59s-6.85-9.59-2.94-11.55c3.91-1.96 10.66 8.62 10.66 8.62l6.39 7.78s-14.81-25.64-11.63-28.38 13.66 14.85 13.66 14.85-17.18-29.38-15.39-33.45c1.79-4.07 17.43 15.09 17.43 15.09s-24.09-39.91-19.19-42.84c4.9-2.93 24.66 29.64 24.66 29.64s-24.67-47.72-17.29-52.73c4.8-3.26 22.4 48.54 28.06 49.27 0 0-17.17-44.16-11.72-46.63 5.45-2.47 22.03 49.77 22.03 49.77s-10.17-39.98-2.37-39.44c2.49.45 16.22 52.87 15.94 53.84-.28.97-17.56 36.39-17.56 36.39l-4.48 68.59 11.54 41.49z"/>
    <path class="st0" d="M232.43 227.71c-3.27-5.26-17.25-31.19-8.64-78.25.01-.03.01-.06.02-.1 1-8.25-9.2-48.17-10.5-53.19-.09-.34-.28-.63-.54-.77-.9-.52-3.07-1.5-3.86.68-.16.45-.55.67-.94.45-1.59-.85-5.2-2.22-4.91 3.18.04.66-.41 1.08-.91.94-1.27-.37-3.23-.24-3.1 4.06.02.74-.52 1.18-1.07.86-1.7-1.02-4.65-2.14-4.95 2.06-.04.59-.43.97-.89.84-1.46-.41-4.21-.62-4 3.73.03.68-.44 1.12-.95.92-1.93-.76-5.5-1.31-3.31 6.38.21.74-.16 1.43-.74 1.34-2.19-.35-6.11.03-2.1 8.79.3.65.1 1.4-.42 1.53-1.88.47-5.16 2.22-.61 8.74.37.53.34 1.29-.06 1.63-1.04.86-2.47 2.83-.95 6.65.22.56.08 1.18-.31 1.39-1.23.68-3.09 2.62.69 7.45.35.45.42 1.16.11 1.55-.91 1.12-2.08 3.7 1.53 7.55.48.51.51 1.43.05 1.78-1.27.94-2.73 3.02.61 6.91.44.51.42 1.35-.01 1.71-1.18.99-2.4 3.23 2.44 7.36.48.41.62 1.25.27 1.71-1.01 1.31-2.34 3.98.3 6.9.43.48.46 1.29.07 1.67-1.13 1.14-2.46 3.67 1.37 7.74.42.44.51 1.21.18 1.63-1.01 1.29-2.47 3.99.66 6.39.45.35.61 1.1.35 1.6-.69 1.33-1.33 3.85 1.65 6.32.28.23.46.65.45 1.06-.03 1.36.12 4.39 1.85 5.79.36.29.52.87.42 1.34-.31 1.48-.45 4.41 2.56 6.24.29.18.5.55.56.96.19 1.43.88 4.65 3.22 5.08.21.04.42.15.57.36 1.06 1.56 2.89 7.69 3.67 10.44.2.69.81 1.04 1.25.73l28.82-20.56c.37-.29.44-1.03.1-1.57z"/>
  </g>
  <g class="st7 wings7">
    <path d="M197.88 244.45s-12.46 9.95-21.39 4.11c0 0-4.17-2.75 1.47-3.49 0 0-18.71-7.06-5.33-7.98 1.52-2.18-12.99-3.84-13.63-9.89.94-1.99 4.89-1.93 4.89-1.93s-22.61-9.16-8.27-14.48c0 0-19.03-7.16-4.59-9.99 0 0-18.77-13.84-5.61-10.76 0 0-16.23-12.45-.69-8.43 0 0-22.17-16.61-3.35-11.09 0 0-25.75-22.5-8.22-18.25l-12.36-11.82s-9.08-7.51-5.8-10.4c3.28-2.9 12.52 5.59 12.52 5.59l8.17 5.87s-20.9-20.97-18.53-24.44 17.01 10.84 17.01 10.84-24.15-23.98-23.46-28.37c.68-4.39 20.72 10.11 20.72 10.11S97.9 77.27 101.88 73.17c3.98-4.09 31.44 22.32 31.44 22.32s-36.1-39.79-30.26-46.52c3.8-4.39 34.12 41.15 39.77 40.41 0 0-27.93-38.27-23.3-42.05 4.63-3.78 34.07 42.44 34.07 42.44s-20.09-36.03-12.42-37.51c2.52-.21 29.25 46.93 29.23 47.94-.02 1.01-7.62 39.68-7.62 39.68l13.29 67.44 21.8 37.13z"/>
    <path class="st0" d="M220.18 218.13c-4.51-4.24-24.68-25.71-28.45-73.4 0-.03-.01-.06-.01-.1-1.16-8.23-21.27-44.19-23.81-48.71-.17-.3-.44-.53-.72-.61-1.01-.27-3.36-.66-3.55 1.65-.04.48-.36.78-.79.68-1.76-.42-5.6-.8-3.93 4.34.2.63-.11 1.15-.64 1.14-1.32-.03-3.18.6-1.95 4.72.21.71-.2 1.28-.81 1.1-1.91-.55-5.04-.87-4.25 3.26.11.58-.16 1.04-.65 1.04-1.51-.02-4.23.48-2.91 4.63.21.65-.13 1.2-.68 1.13-2.06-.24-5.65.15-1.56 7.02.4.66.21 1.43-.38 1.48-2.21.22-5.9 1.6.22 9.04.45.55.45 1.33-.01 1.59-1.7.93-4.42 3.47 1.66 8.6.49.42.66 1.16.36 1.59-.78 1.09-1.66 3.37.79 6.67.36.48.38 1.11.06 1.43-1.01.97-2.31 3.32 2.58 7.02.46.35.7 1.02.5 1.47-.59 1.32-1.05 4.11 3.42 6.9.59.37.86 1.25.5 1.7-.98 1.23-1.86 3.62 2.36 6.53.55.38.75 1.2.43 1.65-.89 1.26-1.49 3.74 4.25 6.49.57.27.92 1.05.7 1.59-.64 1.53-1.24 4.45 2.06 6.6.54.35.77 1.12.5 1.6-.8 1.39-1.44 4.18 3.31 7.12.51.32.81 1.04.6 1.53-.65 1.51-1.36 4.49 2.27 6 .53.22.87.91.75 1.46-.32 1.46-.3 4.06 3.22 5.69.33.15.61.51.7.91.32 1.32 1.25 4.21 3.27 5.12.42.19.73.7.75 1.19.08 1.51.69 4.38 4.07 5.37.33.1.63.41.79.78.55 1.34 2.05 4.27 4.42 4.09.21-.02.44.03.64.2 1.43 1.24 4.76 6.69 6.23 9.15.37.61 1.05.8 1.39.39l22.57-27.27c.32-.4.2-1.13-.27-1.57z"/>
  </g>
  <g class="st7 wings3">
    <path d="M205.13 267.23s-14.4-6.58-21.11-1.96c0 0-3.13 2.17 2.35 2.45 0 0-15.51 5.96-2.76 6 2.03 1.5-11.07 3.37-9.99 7.76 1.43 1.39 5.1 1.16 5.1 1.16s-18.57 7.66-3.71 10.82c0 0-15.78 6.05-1.52 7.41 0 0-13.69 10.85-2.25 8.01 0 0-11.7 9.73 1.69 6.1 0 0-16.1 13.01-.05 8.14 0 0-17.8 17.41-2.61 13.53l-8.27 9.09s-6.4 5.83-2.53 7.77c3.87 1.93 10.14-4.61 10.14-4.61l6-4.61s-13.7 16.09-10.52 18.47c3.18 2.38 12.88-8.6 12.88-8.6s-15.89 18.4-14.03 21.54c1.86 3.13 16.54-8.25 16.54-8.25s-22.33 24.9-17.47 27.66c4.86 2.76 23.17-17.55 23.17-17.55s-22.66 30.35-15.34 34.92c4.77 2.98 20.43-31.24 25.92-30.97 0 0-15.46 28.87-10.09 31.38 5.37 2.51 20.04-32.16 20.04-32.16s-8.76 26.89-1.19 27.59c2.41.03 14.29-35.17 13.99-35.9-.3-.73-18.13-28.22-18.13-28.22l-6.31-49.2 10.06-27.77z"/>
    <path class="st0" d="M233.26 285.14c-3.04 3.27-15.91 19.67-6.19 54.2.01.02.01.05.02.07 1.21 5.98-7.59 32.83-8.71 36.2-.08.23-.26.41-.5.47-.86.24-2.95.63-3.77-1.02-.17-.34-.55-.55-.93-.45-1.53.38-5.01.84-4.87-2.94.02-.46-.43-.82-.91-.79-1.23.08-3.14-.28-3.13-3.31 0-.52-.54-.91-1.06-.76-1.63.48-4.46.87-4.88-2.15a.845.845 0 0 0-.89-.72c-1.41.09-4.08-.15-4.01-3.2.01-.48-.46-.86-.95-.79-1.86.27-5.32.16-3.41-4.98.18-.5-.2-1.04-.76-1.05-2.13-.06-5.95-.87-2.3-6.52.27-.42.05-.98-.45-1.14-1.84-.59-5.09-2.29-.84-6.27.35-.32.29-.87-.11-1.16-1.03-.75-2.48-2.35-1.11-4.84.2-.37.05-.82-.34-1.03-1.22-.65-3.08-2.28.46-5.18.33-.27.37-.77.06-1.08-.91-.92-2.13-2.91 1.28-5.13.45-.29.46-.94 0-1.25-1.26-.84-2.74-2.52.4-4.81.41-.3.37-.9-.06-1.21-1.18-.86-2.43-2.63 2.17-4.87.46-.22.57-.8.21-1.18-1.02-1.07-2.39-3.14.09-4.85.4-.28.41-.85.02-1.17-1.13-.97-2.5-2.94 1.12-5.29.39-.25.47-.79.13-1.13-1.02-1.05-2.51-3.17.46-4.43.43-.18.56-.7.29-1.09-.71-1.04-1.41-2.91 1.42-4.25.27-.13.42-.4.41-.69-.06-.97-.01-3.09 1.63-3.84.34-.15.49-.54.37-.89-.34-1.09-.57-3.19 2.31-4.06a.76.76 0 0 0 .52-.6c.15-.99.73-3.17 2.99-3.15.2 0 .4-.04.54-.18.99-.96 2.59-5.04 3.28-6.88.17-.46.76-.63 1.19-.34L233.08 284c.41.27.5.8.18 1.14z"/>
  </g>
  <g id="stork" class="st7">
    <g class="leg1">
      <path class="st1" d="m161.19 296.87-62.33 9.02a4.243 4.243 0 0 0-3.95-1.65c-1.5.2-2.71 1.17-3.3 2.46l-67.58 2.98c-.51.02-1.02.08-1.52.18l-5.23 1.01c-.9.04-1.59-.05-1.47.85.09.66.66 1.14 1.32 1.13L92 310.88c.88 1.26 2.42 2 4.04 1.78 1.5-.2 2.72-1.17 3.3-2.46l64.58-8.03c1-.13 1.7-1.04 1.57-2.04a3.8 3.8 0 0 0-4.3-3.26z"/>
      <path class="st1" d="m23.5 311.26-9.27-2.44c-.63-.16-1-.81-.83-1.43.16-.63.81-1 1.43-.83L24.1 309c.63.16 1 .81.83 1.43-.16.62-.8.99-1.43.83z"/>
      <path class="st1" d="m25.29 311.8-7.36-6.14a1.172 1.172 0 0 1 1.5-1.8l7.36 6.14c.5.41.56 1.15.15 1.65-.42.49-1.16.56-1.65.15z"/>
    </g>
    <path class="st0" d="M373.81 211.17c-16.88 29.82-64.08 33.51-93.64 20.07-22.88-10.4-34.3-9.26-46.87-6.72-19.5 3.94-44.72 12.6-70.63 28.7-3.92 2.44-8.64 3.25-12.78 5.3-14.67 7.28-43.54 10.58-50.96 16.73 0 0 6.65-2.36 12.27-1.23.74.15.7 1.22-.04 1.32-2.47.31-9.91 3.72-15.19 5.46 0 0 7.73-2.18 12.6-.11.52.22.51.98-.01 1.2-2.28.95-7.26 1.4-8.56 2.66 0 0 18.89 3.56 30.43 8.55 5.96 2.94 11.58 5.77 15.56 7.86 20.48 10.77 30.45 13.63 53.7 13.86 19.21.18 42.72-2.52 64.23-18.86 8.85-6.73 22.1-12.66 32.79-15.68 10.05-2.84 22.1-6.65 30.09-10.55 15.98-7.8 33.96-14.83 52.88-34.16 8.07-12.16 20.91-11.42 20.91-11.42s36.51 2.4 35.42-19.74c-1.2-24.33-47.05-19.15-62.2 6.76z"/>
    <path class="st1" d="M432.95 197.33s-8.87-.52-7.83 9.91c1.04 10.43 14.09 6.78 14.09 6.78l132-21.39s-5.74-5.22-32.35-2.61-105.91 7.31-105.91 7.31z"/>
    <path d="M433.6 206.83s-5.03-.1-2.56-8.19c0 0 109.56-10.67 122.33-8.35 0 0-45.91 11.62-119.77 16.54z" fill="#e68878"/>
    <path d="M398.38 196.96s3.92 7.25 17.1 3.05c.88-.28 1.54.83.85 1.45-3.9 3.52-11.73 8.16-19.72-1.19 0 0 3.75 3.06 5.54 1.76 0 .01-4.07-2.3-3.77-5.07z" fill="#010202"/>
    <ellipse class="st1" cx="409.18" cy="211.53" rx="5.21" ry="3.37"/>
    <path fill="#131d13" d="m390.42 195.64 49.29-6.23-.44-3.12-15.89 1.77.9-14.9-39.26 7.72z"/>
    <path fill="#5b4f4b" d="m402.05 178.38 1.86 11.78-7.44.84 2.74-.88-2.34-11.56 5.01-.9z"/>
    <path class="st6" d="m423.65 186.94-10.86.95.26 1.07 10.33-.9z"/>
    <ellipse class="st6" cx="412.24" cy="188.47" rx="1.85" ry="1.47"/>
    <g class="leg2">
      <path class="st1" d="m155.16 293.58-62.87 3.65a4.24 4.24 0 0 0-3.8-1.98c-1.52.07-2.8.93-3.5 2.17l-67.59-2.81c-.51-.02-1.02 0-1.53.05l-5.3.56c-.9-.04-1.58-.18-1.53.72.03.66.56 1.2 1.22 1.24l74.75 4.44a4.267 4.267 0 0 0 3.88 2.12c1.52-.07 2.81-.94 3.5-2.17l65.03-2.48a1.81 1.81 0 0 0 1.74-1.9 3.787 3.787 0 0 0-4-3.61z"/>
      <path class="st1" d="m16.75 296.13-9.03-3.23a1.173 1.173 0 1 1 .79-2.21l9.03 3.23a1.173 1.173 0 1 1-.79 2.21z"/>
      <path class="st1" d="m18.48 296.83-6.81-6.75a1.18 1.18 0 0 1-.01-1.66c.46-.46 1.2-.46 1.66-.01l6.81 6.75c.46.46.46 1.2.01 1.66-.46.46-1.2.46-1.66.01z"/>  
    </g>
    <path class="st0" d="M509 196.74s-11-4.32-10.22-19.25c13.36 5.5 16.51 17.68 10.22 19.25z"/>
    <path class="st0" d="M510.23 192.68s.52-11.64 16.28-17.14c2.11 12.83-12.53 23.24-16.28 17.14z"/>
  </g>
  <g class="package">
    <path class="st0" d="M558.94 308.83c-9.03-41.34-34.55-90.56-42.21-104.76-.41-.76-.28-1.67.26-2.34.9-1.1 1.43-2.5 1.43-4.01 0-3.58-2.99-6.48-6.68-6.48-3.69 0-6.68 2.9-6.68 6.48 0 .56.07 1.1.21 1.62.39 1.45.31 2.98-.38 4.31-8.09 15.47-42.12 82.33-43.03 114.47-1.03 36.49 36.14 43.37 46.47 44.06 10.33.69 61.28-4.47 50.61-53.35zm-48.88-43.02c-20.31-1.72.34-48.19.34-48.19 22.38 48.87-.34 48.19-.34 48.19z"/>
    <path fill="#9CD8D6" class="heart" d="M509.9 301.85c.79-1.62 1.77-2.91 2.98-3.95 6.08-5.17 14.66-.51 15.49 8.41.31 3.32-.38 6.37-1.72 9.24-1.46 3.13-3.42 5.78-5.47 8.35-2.84 3.54-5.98 6.66-9.07 9.86-.73.76-1.46 1.51-2.22 2.29-.52-.53-1.03-1.04-1.53-1.57-2.83-3.01-5.69-5.97-8.47-9.04-2.15-2.39-4.12-5.01-5.78-7.94-1.33-2.34-2.3-4.85-2.68-7.68-.85-6.46 2.55-12.49 7.84-13.82 3.99-1.01 8.22 1.2 10.36 5.4.09.12.16.25.27.45z" />
  </g>
  <g class="st7 wings3">
    <path d="M228.96 246.6s-19.94-2.43-26.23 6.34c0 0-2.92 4.12 3.79 2.17 0 0-16.35 14.19-.97 8.88 3.03 1.08-12.02 8.99-8.99 14.19 2.27 1.19 6.61-.65 6.61-.65s-19.38 17.65-.22 15.49c0 0-16.65 14.42 1.08 10.18 0 0-12.24 19.71.43 11.26 0 0-10.29 17.44 4.44 7.15 0 0-14.29 23.5 3.14 10.5 0 0-14.62 29.89 2.17 18.52l-6.39 15.17s-5.42 10.19 0 11.06c5.42.87 10.41-10.19 10.41-10.19l5.42-8.46s-10.19 26.46-5.42 28.19c4.77 1.74 12.15-16.48 12.15-16.48s-11.93 30.36-8.46 33.62c3.47 3.25 16.7-17.57 16.7-17.57s-17.13 41.42-10.19 42.94c6.94 1.52 21.04-32.32 21.04-32.32s-15.4 48.58-4.77 51.4c6.92 1.84 12.36-48.8 19.09-50.75 0 0-7.3 43.66.17 44.64 7.47.97 11.52-49.82 11.52-49.82s0 38.3 9.41 36.03c2.92-.97 3.41-51.28 2.76-52.09-.65-.81-32.94-28.72-32.94-28.72l-26.94-60.7 1.19-39.98z"/>
    <path class="st0" d="M269.91 257.86c-2.38 5.48-11.45 32.01 13.83 72.38.02.03.03.06.05.08 3.8 7.2 3.74 45.45 3.72 50.27a1 1 0 0 1-.42.82c-.94.68-3.31 2.05-4.95.27-.34-.37-.88-.47-1.3-.19-1.69 1.13-5.7 3.18-7.03-1.74-.16-.6-.84-.88-1.41-.64-1.45.62-3.89.96-5.08-2.95-.21-.67-1.01-.94-1.58-.53-1.77 1.31-5.04 2.99-6.73-.72-.24-.52-.83-.77-1.36-.55-1.66.7-4.98 1.52-6.09-2.44-.17-.62-.89-.91-1.46-.61-2.13 1.12-6.35 2.43-6.06-4.98.03-.72-.65-1.25-1.33-1.03-2.59.82-7.52 1.37-5.33-7.43.16-.65-.32-1.29-.99-1.28-2.46.01-7.03-.81-3.48-7.73.29-.56.01-1.24-.58-1.45-1.54-.53-3.92-1.98-3.24-5.77.1-.55-.26-1.08-.82-1.18-1.72-.33-4.61-1.65-1.49-6.86.29-.49.15-1.14-.35-1.42-1.46-.8-3.71-2.86-.48-7.14.43-.56.18-1.41-.5-1.61-1.85-.55-4.29-2.1-1.41-6.36.38-.56.09-1.31-.55-1.53-1.76-.62-3.96-2.36.7-7.18.47-.48.37-1.27-.21-1.6-1.65-.95-4.12-3.05-1.79-6.28.38-.53.16-1.26-.43-1.52-1.75-.77-4.17-2.73-.73-7.27.37-.49.25-1.21-.28-1.51-1.65-.93-4.28-3.03-1.19-5.9.45-.42.4-1.13-.07-1.52-1.26-1.04-2.84-3.16.05-6.07.27-.28.36-.69.22-1.05-.46-1.22-1.22-3.98.46-5.63.35-.34.37-.9.1-1.31-.84-1.26-1.94-3.87 1.19-6.2.31-.23.45-.61.39-.99-.21-1.33-.37-4.39 2.37-5.31.24-.08.47-.23.58-.45.81-1.65 1.14-7.58 1.25-10.24.03-.66.67-1.12 1.3-.94l41.84 11.91c.61.16.92.81.67 1.38z"/>
  </g>
  <g class="st7 wings2">
    <path class="st0" d="M293.75 270.35c-2.82 15.41-27.68 37.18-20.93 99.72 0 .03.01.06 0 .1-.03.99-.58 16.74-5.15 17.99-4.66 1.27-45.66 10.06-65.32-16.47-.36-.49-.02-1.19.59-1.22 2.16-.1 6.27-.14 8.08.91.44.25.98.08 1.15-.4.57-1.61 2.12-3.77 6.07-.45.38.32.97.21 1.19-.24.83-1.72 3.05-4.77 7-.3.35.39.99.35 1.24-.1.91-1.64 3.2-4.25 7.3-.45.35.32.89.26 1.16-.13.96-1.4 3.47-3.73 8.1.31.29.26.72.27 1.02.01.85-.72 2.93-1.75 6.78.18.33.16.72.09.95-.19.95-1.11 3.76-3.41 8.59.66 0 0 1.92 2.24 1.76-6.24-.14-7.55.98-19.04 1.23-21.45.03-.29-.1-.56-.34-.71l-25.73-16.89a.765.765 0 0 1-.33-.79l11.91-63.33c.08-.43.5-.7.92-.61l42.16 9.23c.4.07.68.46.6.86z"/>
    <path d="M254.45 248.34s-23.94-7.72-29.84-.63c0 0-2.13 2.05 3.46 3.31 0 0-12.13 3.62-11.02 7.72 0 0-.87 1.1 6.69 1.1 0 0 1.18 1.65-2.52 2.68-3.7 1.02-13.46 5.51-12.05 9.21.63 1.89 7.64 1.34 7.64 1.34s-24.41 9.53-7.24 16.22c0 0-11.1 5.51-10.47 8.66.63 3.15 7.72 2.83 7.72 2.83l-9.29 8.9s-5.75 5.28 4.33 3.7l-5.67 6.77s-3.78 6.69 7.56 2.13l-7.87 8.11s-7.48 10.55 6.69 4.41c0 0-9.61 9.13 9.61 10.94s22.2-19.45 22.2-19.45l20.07-77.95z"/>
    <path class="st0" d="m268.73 339.56-4.81 32.82-57.51.18 5.73-15.16s-7.12-12.02 1.94-17.29c0 0-6.84-5.27 3.7-9.89 0 0-7.67-3.7.55-8.97 0 0-6.1-7.3 3.79-9.25 0 0-5.73-5.55 1.02-8.6 0 0-7.58-4.99 2.87-9.89 0 0-7.77-6.1 1.29-9.62 0 0-3.61-4.81 3.05-7.77 0 0-2.68-4.81 2.96-5.92 0 0-1.48-6.66 4.16-7.3 0 0 .37-5.64 5.18-4.9l7.67-13.41 37.45 24.6-27.57 27.39 8.53 42.98z"/>
    <path d="M263.36 371.46c-.08 1.86-2.1-16.23-.4-21.1a.544.544 0 0 0-.7-.69c-2.32.79-7.27 3.59-10.37 13.38 0 0-7.4-23.49-13.13-21.91-5.73 1.57-.55 18.03-.55 18.03s-11.19-9.63-13.24-15.53c-.14-.39-.27-.78-.46-1.15-1.09-2.17-5.05-9.45-8.13-7.08-3.61 2.77-1.48 9.71 5.46 20.16 0 0-18.7-14.72-25.31-16.53-1.06-.29-2.02.71-1.66 1.75.98 2.9 4.32 9.56 15.5 18.29 0 0-18.4-11.65-20.16-9.34-1.76 2.31 10.91 13.04 10.91 13.04s-10.17-6.56-11.19-4.81c-1.02 1.76 12.67 13.13 12.67 13.13l16.55 7.49 44.21-7.13z"/>
  </g>
  <g class="st7 wings5">
    <path d="m182.39 78.98-14.22-65.76s-.74-9.05-6.1-6.46-6.37 14.7-3.42 21.35c2.96 6.65 9.51 31.85 7.85 32.59-1.66.74-16.25-43.22-23.83-40.82-7.57 2.4 17.92 46.18 15.52 48.03-2.4 1.85-20.5-41.38-26.41-35.46-5.91 5.91 23.71 39.26 20.5 41.19-4.33 2.61-25.02-31.07-31.85-27.74-6.83 3.32 24.1 33.29 22.06 35.32-2.03 2.03-29.27-24.6-32.78-19.25s28.35 29.41 24.1 32.55-26.97-15.7-31.4-6.83 23.46 15.89 21.06 20.32-24.2-4.99-24.01 2.77c.18 7.76 25.12 10.53 25.12 17.18s-19.39 5.91-18.84 12.38c.55 6.46 21.06 2.22 21.8 8.87.74 6.65-19.39-.92-18.29 10.9 1.11 11.82 20.13-1.85 20.5 2.96s-16.25 4.43-14.96 14.22c1.29 9.79 16.62-4.62 18.84 3.32 2.22 7.94-16.99 1.29-14.78 11.08 2.22 9.79 16.81-2.59 17.92 4.8s-13.48 5.17-9.24 13.67 13.11-8.13 16.81.55c3.69 8.68-8.13 9.24-.92 15.52 7.2 6.28 5.73-8.87 11.08-5.54s-2.96 18.84 1.85 20.5 8.31-13.48 12.93-11.82c4.62 1.66-6.83 17.36-.55 21.24 6.28 3.88 13.48-5.36 16.25-4.62 2.77.74-7.57 11.82-.18 13.3s10.53-6.46 12.93-5.54c2.4.92-3.32 11.82 1.29 12.19 4.62.37 11.27-7.2 11.27-7.2s-4.8 13.85 0 17.92c4.8 4.06 12.75-9.24 12.75-9.24s-3.51 14.96 2.4 17.18 19.39-21.98 19.21-24.94c-.18-2.96-87.74-139.64-87.74-139.64l25.48-41.04z"/>
    <path class="st0" d="M290.72 240.03c1.34-.7 1.3-2.63-.07-3.27-7.94-3.69-26.36-14.93-25.47-39.52 1.14-31.29-21.62-19.34-44.38-49.5s-34.71-46.65-40.4-77.38c0 0-7.46-.53-6.91 7.16.03.46-.23.9-.65 1.09-1.78.77-6.07 3.2-4.77 8.23.16.6-.17 1.22-.77 1.39-1.55.42-4.04 1.53-3.34 4.26.18.71-.41 1.4-1.15 1.37-2.31-.08-5.86.73-4.86 6.66.1.61-.29 1.2-.91 1.3-2.67.47-8.74 2.43-4.08 10.49.4.69-.03 1.57-.82 1.67-3.65.45-10.82 2.67-2.05 13.56.48.6.24 1.5-.49 1.76-3.35 1.17-10.06 4.62.54 11.4.69.44.7 1.47-.01 1.89-2.21 1.3-5.08 4.24.31 9.3.51.48.48 1.29-.08 1.72-1.88 1.44-4.62 4.81 3.04 9.1.61.34.77 1.15.32 1.69-1.76 2.14-4.57 7.14 4.46 9.85.69.21 1 1.02.62 1.64-1.42 2.33-3.55 7.36 2.28 10.2.63.31.81 1.1.41 1.67-1.37 1.9-2.95 5.76 4.94 7.61.75.18 1.1 1.05.67 1.7-1.6 2.44-3.37 7.43 7.86 8.65.81.09 1.24.98.83 1.68-1.55 2.61-3.27 7.6 6.65 7.13.83-.04 1.42.81 1.08 1.56-1.47 3.25-3.23 9.96 7.39 9.66.78-.02 1.35.75 1.09 1.48-.97 2.71-1.52 7.98 8.57 8.53.78.04 1.27.87.94 1.58-1.38 3.03-2.85 9.35 10.15 7.6.79-.11 1.43.63 1.22 1.4-1.02 3.69-2.2 12.13 8.87 11.19.6-.05 1.13.37 1.2.97.5 4.1 3.38 17.82 18.92 7.04l48.85-25.51z"/>
  </g>
  <g class="st7 wings4">
    <path class="st7" d="M165.31 209.37s-23.73 16.61-21.94 20.06c0 0-.09 1.56 3.53.87 0 0-8.44 3.86-6.79 7.16 0 0 1.47 1.47 7.44-.83 0 0-12.02 8.72-9.32 11.06 2.71 2.34 7.62-1.93 7.62-1.93s-10.79 8.22-9.13 10.83c1.65 2.62 8.35 2.52 8.35 2.52s-9.68 5.42-7.3 8.26c0 0 1.47 2.48 8.35-.5 0 0-8.22 7.02-5.46 10.46 0 0 1.15 1.61 4.73-1.47 0 0-4.36 6.01-2.71 7.99 1.65 1.97 6.79-3.3 6.79-3.3s-8.08 9.5-4.91 11.24c3.17 1.74 7.16-2.62 7.16-2.62s-12.35 22.81 1.38 14.41c0 0-5.6 9.32-1.79 12.44 3.81 3.12 9.36-4.59 9.36-4.59s-5.36 10.38-4.73 16.15c.1.9 1.04 1.43 1.89 1.14 2.12-.74 5.99-2.65 8.58-7.15 0 0-8.86 19.51-6.43 23.82 2.43 4.31 14.27-15.05 14.27-15.05s-13.54 31.9-9.18 35.29 18.13-25.01 18.13-25.01-10.83 37.86-3.81 39.38c1.7.37 8.08-16.06 8.56-21.12.09-.96.32-1.9.7-2.78l7.08-16.71s-5.59 30.24-1.51 34.66c0 0 4.42 10.89 11.23-37.77 0 0 0 24.5 7.83 26.54 0 0 4.42-7.49 3.06-41.85-1.35-34.35-51.03-111.6-51.03-111.6z"/>
    <path class="st0" d="M263.79 233.62c2.83 1.99 10.31-30.6 18.91-40.91 8.59-10.31 3.78-21.66 3.44-22.69-.34-1.03-3.44-5.84-37.13.69-33.69 6.53-89.04 38.5-89.38 41.25-.34 2.75 1.03 3.8 3.49 3.91 2.37.11-8.94 2.49-2.13 5.86.37.18.41.69.07.92-1.67 1.14-5 3.91-1.48 5.99.34.2.37.69.04.91-1.44.95-3.99 3.2-.41 5.57.27.18.31.56.08.8-.99 1.05-3.06 3.62-.79 4.82.32.17.35.63.07.86-1.04.86-2.65 2.57-.94 3.87.29.22.32.63.04.86-1.14.92-3.15 3.06.1 4.68.27.13.36.47.21.73-.72 1.25-2.21 4.46 1.16 5.02.39.06.55.53.31.85-1.31 1.7-3.84 5.69.61 6.23.39.05.61.47.4.8-.91 1.44-2.42 4.53.87 5.27.41.09.55.61.24.9-1.55 1.48-4.28 4.72.1 6 .35.1.5.51.29.81-.92 1.35-2.6 4.45 1.16 4.65.42.02.63.52.38.85-1.26 1.67-3.36 5.24.86 6.16.38.08.56.51.33.83-1.21 1.67-3.74 5.8.96 5.74.36 0 .64.35.52.69-.52 1.55-1.26 4.98 2.45 4.93.38-.01.66.36.52.72-.81 2.05-2.37 7.33 3.47 6.22.36-.07.68.25.62.61-.44 2.37-1.23 9.08 4.7 5.96.36-.19.79.07.78.47-.06 2.24.33 7.43 5.52 4.21.31-.2.73-.01.8.35.29 1.58 1.36 4.7 5.21 2 .29-.21.7-.06.81.28.5 1.53 2.1 4.55 6.34.21.33-.34.91-.13.92.34.07 2.15.81 5.74 5.41 3.08.29-.16.65-.02.76.29.54 1.51 2.23 4.96 5.8 1.47.26-.25.7-.19.85.13.43.91 1.55 1.95 4.35-1 4.03-4.25 14.27-89.69 39.88-98.79.02-.01 3.88 2.4 8.43 5.6z"/>
  </g>
  <g class="st7 wings1">
    <path class="st0" d="m284.28 264.63-5.97 32.62-17.47 16.08-26.19 1.84-13.1-13.78z"/>
    <path class="st7" d="M267.74 298.58c-3.07-1.54-7.3.43-9.71 1.86-.32.19-.66-.2-.42-.49 2.21-2.74 5.9-7.89 3.56-9.02-2.38-1.15-7.17 1.55-9.51 3.04-.3.19-.65-.17-.45-.46 2.27-3.47 7.91-12.34 6.38-12.72-1.53-.38-10.98 5.53-14.66 7.89-.31.2-.66-.17-.45-.47 3.16-4.47 12.45-18.06 9.26-19.25-6.98-1.88-17.31 9.72-22.06 15.65-.25.31-.73-.01-.55-.37 2.49-4.78 4.16-8.7 5.23-11.91 2.73-3.48 9.63-26.1 9.63-26.1l2.52-1.96c-7.86-2.37-7.04.81-6.23 2.4.18.35-.09.76-.48.74-2.63-.16-4.99.24-6.51.92-1.25.55-1.22 2.34.05 2.84 1.38.54 1.66 1.64 1.69 2.28.02.27-.2.51-.48.53-13.77 1.16-9.96 5.11-7.72 6.75.37.27.23.84-.22.92-4.61.76-7.3 1.75-8.75 2.8-.3-1.36-.95-2.29-2.09-2.53-3.48-.74-6.81 4.53-9.07 9.3-.82-.1-1.55-.07-2.16.06.41-6.46.25-14.98-3.46-14.98-4.85 0-8.76 10.87-10.05 14.96-.11.34-.6.29-.65-.07-1.58-12.2-6.7-23.59-11.16-23.02-3.73.48-1.71 17.22-.76 23.85.06.39-.48.54-.63.18-3.1-7.32-12.32-28.29-16.17-28.1-7.92 2.92-.43 20.67 3.08 28.01.17.36-.32.65-.56.34-8.68-11.22-17.57-19.85-20.55-16.76-2.66 2.76 6.24 18.96 9.42 24.52.19.33-.23.67-.51.41-3.76-3.4-12.92-11.43-14.05-10.01-2.03 2.86 3.55 12.54 6.21 16.82.2.32-.21.67-.5.43-2.78-2.39-7.94-6.35-9.66-4.46-1.85 2.03 2.15 9.48 4.07 12.76.18.31-.19.65-.48.43-2.46-1.84-7.53-5.06-10.52-3.04-4.06 2.75 4.54 11.47 4.54 11.47 4.78 12.3 7.88 7.77 7.88 7.77l27.24-13.62 91.87 14.34 3.7-7.05s9.44-5.61 4.9-7.88zm-48.77-27.12c-.41.06-.91.12-1.48.18.15-.75.27-1.49.37-2.21.44.43.92.81 1.34 1.11.37.27.23.86-.23.92zm-14.79 4.01c0-.03.01-.07.01-.1l.76-.09c-.05.12-.09.23-.13.34-.14.36-.68.23-.64-.15zm10.01 7.72c.67-1.88 1.82-5.25 2.69-8.77 1.88-.07 3.99-.17 6.07-.29-3.27 4-6.55 7.61-8.21 9.4-.25.26-.68 0-.55-.34z"/>
    <path class="st0" d="M287.17 258.49s12.26 89.59-94.47 56.45c0 0-34.95-6.91-54.15-1.54 0 0-1.83-6.94 5.21-7.28.31-.01.56-.24.58-.55.14-1.59.96-6.2 5.51-6.21.35 0 .61-.31.57-.66-.21-2.04-.16-7.71 7.79-4.31.38.16.8-.1.83-.52.11-2.12.91-7 6.16-2.65.35.29.9.11.98-.34.29-1.66 1.39-4.39 5.64-2.38.32.15.69-.02.81-.35.55-1.59 2.29-5.2 5.93-.78a.6.6 0 0 0 .98-.07c.83-1.44 2.94-3.88 6.11.54.26.37.82.33 1.03-.07.83-1.62 2.85-4.35 5.95-.74.26.3.74.28.95-.06.9-1.41 3.18-3.95 5.97.8a.6.6 0 0 0 1.03.02c.96-1.51 3.24-3.64 6.3 3.08.19.42.77.48 1.04.1 1.11-1.62 3.56-4.19 5.04 1.79.11.46.68.63 1.01.29 1.56-1.63 5.15-4.35 6.85 2.66.1.4.57.59.91.36 1.53-1.06 5.09-2.81 6.65 2.48.12.4.6.56.93.31 1.57-1.17 5.29-3.04 6.28 4.71.06.5.66.71 1.01.36 1.67-1.64 5.31-4.06 7.54 3.21.11.37.52.54.86.36 1.52-.8 5.32-2.1 6.95 3.71.08.29.36.49.67.45 1.13-.18 3.9-.45 6.25.72 3.04 1.52 16.57-17.42 16.57-17.42l11.73-36.47z"/>
  </g>
  <g class="st7 wings7">
    <path d="M209.86 243.05s-20.32 6.27-28.54-2.43c0 0-3.83-4.09 3.54-3.1 0 0-19.75-12.98-2.71-9.77 2.95-1.75-14.24-7.93-12.08-14.29 2.14-1.74 7.01-.45 7.01-.45s-23.57-16.32-3.18-17.3c0 0-20.11-13.18-.82-11.59 0 0-16.52-19.89-1.7-12.69 0 0-14.05-17.69 3.26-8.79 0 0-19.39-23.77 1.27-12.32 0 0-20.95-30.87-1.28-21.12l-9.56-15.85s-7.6-10.45-2.11-12.38c5.48-1.94 12.8 9.56 12.8 9.56l7.27 8.51s-15.68-27.81-11.04-30.6c4.64-2.79 15.81 16.3 15.81 16.3s-18.23-31.88-15.24-36.14c2.99-4.26 20.76 16.7 20.76 16.7s-25.77-43.34-18.83-46.27 28.1 32.44 28.1 32.44-25.33-51.66-14.79-56.7c6.86-3.29 22.21 52.44 29.59 53.43 0 0-15.95-47.59-8.36-50.01s21.53 53.74 21.53 53.74-7.32-42.88 2.92-42.01c3.23.57 13.35 56.81 12.83 57.84s-28.84 38.02-28.84 38.02L201 198.53l8.86 44.52z"/>
    <path class="st0" d="M250.38 223.17c-3.52-5.72-18.05-33.8.58-83.51l.03-.1c2.59-8.74-4.78-51.56-5.73-56.95-.06-.36-.28-.68-.59-.84-1.11-.59-3.84-1.71-5.21.58-.29.48-.83.69-1.32.45-1.98-.97-6.55-2.55-6.99 3.2-.05.7-.7 1.14-1.35.97-1.63-.44-4.24-.38-4.73 4.2-.08.79-.87 1.24-1.55.87-2.1-1.15-5.82-2.45-6.87 2.01-.15.63-.71 1.01-1.31.86-1.87-.49-5.48-.82-5.88 3.81-.06.73-.75 1.18-1.4.94-2.44-.88-7.08-1.6-5.37 6.66.17.8-.44 1.52-1.19 1.39-2.85-.46-8.1-.2-4.14 9.27.29.7-.09 1.5-.79 1.61-2.56.43-7.17 2.16-2.15 9.27.41.58.25 1.39-.33 1.73-1.5.87-3.7 2.92-2.28 7.04.21.6-.07 1.25-.62 1.47-1.73.68-4.49 2.66-.24 7.94.4.5.37 1.25-.1 1.65-1.37 1.16-3.32 3.86.87 8.08.55.56.46 1.54-.21 1.89-1.82.95-4.07 3.11-.26 7.37.5.56.34 1.45-.28 1.81-1.72 1-3.67 3.35 2.1 7.92.58.46.63 1.35.09 1.83-1.54 1.36-3.71 4.14-.67 7.35.49.52.41 1.38-.16 1.78-1.67 1.17-3.83 3.8.63 8.27.48.48.49 1.31-.01 1.74-1.54 1.33-3.88 4.15-.11 6.81.55.39.63 1.19.21 1.72-1.12 1.39-2.36 4.04 1.21 6.79.34.26.5.71.43 1.14-.24 1.44-.51 4.67 1.55 6.22.43.32.56.94.35 1.44-.64 1.56-1.28 4.67 2.43 6.73.36.2.58.61.59 1.04.04 1.53.46 4.98 3.48 5.53.27.05.53.17.69.41 1.16 1.7 2.64 8.28 3.26 11.24.15.74.91 1.14 1.54.82l41.32-20.77c.65-.31.85-1.09.48-1.68z"/>
  </g>
  <g class="st7 wings6">
    <path d="M222.4 242.88s-20.97 3.52-27.97-6.19c0 0-3.26-4.56 3.92-2.6 0 0-17.86-15.48-1.39-10.04 3.16-1.34-13.07-9.75-10.08-15.76 2.35-1.44 7.01.49 7.01.49s-21.2-19.3-.86-17.57c0 0-18.18-15.73.73-11.6 0 0-13.73-21.91 0-12.8 0 0-11.58-19.4 4.4-8.28 0 0-16.06-26.13 2.89-12.04 0 0-16.67-33.37 1.53-21.1l-7.38-16.98s-6.15-11.36-.45-12.56c5.69-1.19 11.42 11.17 11.42 11.17l6.07 9.39s-11.85-29.65-6.88-31.8 13.51 18.25 13.51 18.25-13.84-34.01-10.31-37.84 18.36 19.31 18.36 19.31-19.8-46.37-12.53-48.36c7.27-1.99 23.55 35.88 23.55 35.88s-18.26-54.56-7.14-58.17c7.23-2.35 15.06 54.92 22.24 56.88 0 0-9.5-49.28-1.65-50.67C259.21 18.5 265.58 76 265.58 76s-1.57-43.48 8.47-41.26c3.13.99 5.7 58.08 5.05 59.03-.65.95-33.63 33.86-33.63 33.86l-25.98 69.92 2.91 45.33z"/>
    <path class="st0" d="M265.2 228.55c-2.73-6.13-13.41-35.9 11.65-82.69.02-.03.03-.06.05-.1 3.72-8.32 2.1-51.74 1.87-57.2a1.16 1.16 0 0 0-.47-.91c-1.03-.73-3.58-2.2-5.24-.12-.35.44-.91.57-1.37.27-1.83-1.22-6.16-3.4-7.36 2.24a1.07 1.07 0 0 1-1.46.78c-1.56-.65-4.15-.94-5.24 3.54-.19.77-1.03 1.11-1.65.66-1.93-1.42-5.45-3.2-7.08 1.08-.23.6-.84.91-1.41.68-1.78-.73-5.32-1.54-6.33 3-.16.71-.9 1.07-1.51.75-2.3-1.19-6.81-2.52-6.2 5.89.06.81-.63 1.44-1.37 1.22-2.77-.83-8-1.27-5.33 8.64.2.73-.29 1.47-1 1.49-2.6.08-7.4 1.19-3.36 8.9.33.63.07 1.41-.56 1.67-1.61.66-4.06 2.4-3.19 6.67.13.63-.23 1.23-.81 1.37-1.81.44-4.81 2.05-1.29 7.84.33.55.2 1.29-.31 1.62-1.51.97-3.8 3.39-.21 8.12.47.62.25 1.59-.46 1.85-1.93.7-4.45 2.55-1.23 7.27.42.62.15 1.48-.51 1.76-1.84.77-4.08 2.83 1.03 8.12.51.53.44 1.43-.15 1.83-1.71 1.14-4.23 3.61-1.64 7.2.42.58.22 1.43-.39 1.74-1.81.94-4.3 3.26-.47 8.29.41.54.32 1.36-.24 1.73-1.7 1.12-4.4 3.6-1.01 6.74.49.46.47 1.27-.01 1.73-1.29 1.23-2.87 3.69.3 6.89.3.3.4.77.27 1.19-.43 1.4-1.13 4.56.72 6.37.38.38.43 1.01.16 1.48-.84 1.46-1.89 4.46 1.51 6.99.33.25.5.68.45 1.11-.17 1.52-.21 4.99 2.72 5.94.26.08.51.24.63.49.93 1.84 1.52 8.56 1.74 11.57.06.75.75 1.25 1.42 1.02l43.71-15.11c.61-.23.92-.98.63-1.61z"/>
  </g>
</svg>
</section>
</div>

<style lang="scss">
  @use 'sass:math';
  $time: 1200ms;
  $number-of-frames: 7;
  $frame-duration: math.div($time, $number-of-frames);

  @keyframes package {
    0% {
      transform: rotate(8deg);
    }
    50% {
      transform: rotate(-8deg);
    }
    100% {
      transform: rotate(8deg);
    }
  }
  @keyframes flying {
    50% {
      transform: translateY(-2%);
    }
  }
  @keyframes bump {
    50% {
      transform: scale(0.9);
    }
  }
  @keyframes leg {
    50% {
      transform: rotate(3deg);
    }
  }
  @keyframes sprite {
    0%, #{math.div(100%, $number-of-frames)} {
      opacity: 1;
    }
    #{math.div(100%, $number-of-frames) + 2} {
      opacity: 0;
    }
  }

  @for $i from 1 through $number-of-frames {
    .wings#{$i} {
      opacity: 0;
      animation: sprite $time infinite;
      animation-delay: $frame-duration * ($i - 1);
    }
  }

  svg {
		filter: drop-shadow(clamp(1px, 0.1vw, 2px) clamp(3px, 0.3vw, 6px) 0px #bedede);
  }
  .wings4 {
    transform: translateX(-1%) translateY(8%)
  }
  .package{
    animation: package $time * 2 infinite ease-in-out;
    transform-origin: 89% 40%;
  }
  .heart {
    animation: bump math.div($time, 2) cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite;
    transform-origin: 90% 65%; 
  }
  .leg1, .leg2 {    
    animation: leg $time * 3 infinite ease-in-out;
    transform-origin: 30% 70%;
  }

  .leg2 {
    animation-duration: $time * 4;
  }

  svg {
    animation: flying $time ease-in-out infinite;
  }

  div {
    animation: bump $time * 15 ease-in-out infinite;
    max-width: calc(100% - 2em);
  }

  @media screen and (prefers-reduced-motion) {
    * {
      animation: none !important;
    }
    .wings7 {
      opacity: 1;
    }
  }
</style>
